@font-face {
  font-family: SlimSansSerif;
  src: url('SlimSansSerif.ttf');
}

@font-face {
  font-family: SlimSansSerif;
  font-weight: bold;
  src: url('SlimSansSerif-Bold.ttf');
}

.nav {
  grid-area: nav;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.flex-container>div {
  margin: 7px;
}

.left {
  grid-area: marginleft;
}

.main {
  grid-area: main;
  min-width: 817px;
  margin-left: 10%;
}

.side {
  grid-area: side;
  margin-left: 10%;
  margin-top: 10%;
}

.right {
  grid-area: marginright;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'nav nav nav nav'
    'left main side right';
  grid-gap: 1px;
}

.grid-container>div {
  padding: 20px 0;
}

h2, h3, tspan, p {
  color: #2a2a2a;
}

h1, h2, h3, tspan {
  margin: 0;
  display: block;
  position: relative;
  color: #2a2a2a;
}

p {
  display: inline-block;
  margin: 0;
}

h2, h3 {
  font-weight: bold;
}

label, h2, th, td, tspan, text, .dataTables_info, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active, .dataTables_wrapper .dataTables_paginate .paginate_button, .paginate_button.current {
  font-family: SlimSansSerif
}

h1 {
  font-family: 'PostoniWide', 'Bodoni 72', 'Bodoni MT', Didot, 'Didot LT STD', 'Hoefler Text', Garamond, Georgia, serif;
  font-size: calc(21px + 2.5vw);
  font-weight: bold;
}

h2 {
  font-size: 26px;
  margin-top: 18px;
}

h3 {
  font-size: 16px;
  font-weight: 200;
}

p {
  font-size: 14px;
}

nav {
  background: rgba(0, 0, 0, 0.96);
  display: block;
  position: relative;
  transition: transform 250ms ease-out;
  height: 60px;
  text-align: center;
}

article p {
  line-height: calc(1.5em + 0.3333vw);
}

#navTagline {
  color: #ccc;
  font-style: italic;
  font-size: 12px;
  font-family: Georgia;
}

#twpLogo {
  width: 181px;
}

#authorSigWrapper, #analysis, #analysisTooltipText {
  font-family: Helvetica;
  font-size: 14px;
  display: inline-block;
  color: #666;
  line-height: 22px;
}

#analysis:before {
  content: '\2022';
  margin-left: 0.4em;
  margin-right: 0.4em;
  top: 0.05em;
  position: relative;
  font-family: Helvetica;
}

#analysisTooltip {
  border: 1px solid #d5d5d5;
  width: 280px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  position: absolute;
  visibility: hidden;
  padding: 20px 36px 20px 20px;
  z-index: 1;
}

#analysisTooltip:after, #analysisTooltip:before {
  bottom: 100%;
  left: 13%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

#analysisTooltip:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 15px;
  margin-left: -15px;
}

#analysisTooltip:before {
  border-color: rgba(213, 213, 213, 0);
  border-bottom-color: #d5d5d5;
  border-width: 16px;
  margin-left: -16px;
}

#section, #author {
  color: #1955a5;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

#author:hover {
  text-decoration: underline;
}

#authorSigWrapper, #main p {
  margin-bottom: 16px;
}

#main p {
  font-size: calc(16.4px + 0.175vw);
}

#main a {
  color: #2c6cb4;
  border-bottom: 1px solid #d5d5d5;
  text-decoration: none;
}

#socmedia {
  display: inline-block;
  position: fixed;
}

table.dataTable tbody th, table.dataTable tbody td {
  padding: 5px 5px !important;
}

.dataTables_wrapper {
  padding: 20px 0 20px 0;
}

#whiteLineGraph, #hispanicLineGraph, #blackLineGraph, #asianLineGraph {
  padding: 20px 0 20px 0;
}

@media screen and (max-width:37.5em) {
  .main p {
    font-size: calc(16.4px + 0.175vw);
  }