.nav {
  grid-area: nav;
}

.left {
  grid-area: marginleft;
}

.main {
  grid-area: main;
  min-width: 817px;
  margin-left: 10%;
}

.side {
  grid-area: side;
  margin-right: 10%;
}

.right {
  grid-area: marginright;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'nav nav nav nav'
    'left main side right';
  grid-gap: 1px;
}

.grid-container>div {
  padding: 20px 0;
}

h2, h3, tspan, p {
  font family: Georgia;
  color: #2a2a2a;
}

h1, h2, h3, tspan {
  margin: 0;
  display: block;
  position: relative;
  color: #2a2a2a;
}

p {
  display: inline-block;
  margin: 0;
}

h2, h3, tspan, p {
  font family: Georgia;
}

h1 {
  font-family: 'PostoniWide', 'Bodoni 72', 'Bodoni MT', Didot, 'Didot LT STD', 'Hoefler Text', Garamond, Georgia, serif;
  font-size: calc(21px + 2.5vw);
  font-weight: bold;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

p {
  font-size: 14px;
}

nav {
  background: rgba(0, 0, 0, 0.96);
  padding: 0 20px 0 16px;
  display: block;
  position: relative;
  transition: transform 250ms ease-out;
  height: 60px;
  text-align: center;
}

article {
  margin-left: 5%;
  margin-right: 5%;
}

#navTagline {
  color: #ccc;
  font-style: italic;
  font-size: 12px;
  font-family: Georgia;
}

#articleTopper {
  margin-top: 20px;
}

#twpLogo {
  width: 181px;
  margin-top: 5px;
}

#authorSigWrapper, #analysis, #analysisTooltipText {
  font-family: Helvetica;
  font-size: 14px;
  display: inline-block;
  color: #666;
  line-height: 22px;
}

#analysis:before {
  content: '\2022';
  margin-left: 0.4em;
  margin-right: 0.4em;
  top: 0.05em;
  position: relative;
  font-family: Helvetica;
}

#analysisTooltip {
  border: 1px solid #d5d5d5;
  width: 280px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  position: absolute;
  visibility: hidden;
  padding: 20px 36px 20px 20px;
  z-index: 1;
}

#analysisTooltip:after, #analysisTooltip:before {
  bottom: 100%;
  left: 13%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

#analysisTooltip:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 15px;
  margin-left: -15px;
}

#analysisTooltip:before {
  border-color: rgba(213, 213, 213, 0);
  border-bottom-color: #d5d5d5;
  border-width: 16px;
  margin-left: -16px;
}

#section, #author {
  color: #1955a5;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

#author:hover {
  text-decoration: underline;
}

#authorSigWrapper, #main p {
  margin-bottom: 16px;
}

#main p {
  font-size: calc(16.4px + 0.175vw);
}

#main a {
  color: #2c6cb4;
  border-bottom: 1px solid #d5d5d5;
  text-decoration: none;
}

#socmedia {
  display: inline-block;
  position: fixed;
}